#content {
	width: 100%;
	padding: 0;
	margin: 0;
}

#contentHeader {
	
}


#alerts {
	position: absolute;
	top: 10px;
	right: 30px;
}



#login {
	background: #e7ebec url(../img/login-bg.png) 0 -15em repeat-x;
	padding: 10em 0;
	width: 100% !important;
	max-width: 100%;
}

#login-content {
	min-height: 300px;
	display: block;
	margin: 0 auto;
	padding: 10px 15px;
	background: #F5F5F5;
	text-shadow: 0 1px #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px #333333;
	-webkit-box-shadow: 0 1px 3px #333333;
	-ms-box-shadow: 0 1px 3px #333333;
	-o-box-shadow: 0 1px 3px #333333;
	box-shadow: 0 1px 3px #333333;
	border/*\**/: 1px solid #cccccc 9;
}

#login-content h1 {
	color: #999;
	background: url(../img/logo-nsi.png) 0 center no-repeat;
	padding: 4px 0 4px 65px;
	position: relative;
	font-size: 12px;
	margin: 0;
}

#login-content h1 span {
	font-size: 24px;
	color: #333;
	display: block;
}

.separator {
	display: block;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	height: 0;
	margin: 5px 0;
}

